workflow_n8n
{
  "name": "Articlebot_deepseek",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "article-generation",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1008,
        -96
      ],
      "webhookId": "article-generation-webhook",
      "id": "2da97e9a-e8f2-4763-8c63-15fd6e0aed3a"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Set Initial Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -784,
        -96
      ],
      "id": "8f0e497d-f907-4440-a44f-cbd3d38fb236"
    },
    {
      "parameters": {},
      "name": "OpenAI Article Generation",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 3,
      "position": [
        -576,
        -96
      ],
      "id": "c548c60e-f670-4c68-a7bc-1904eee05a97",
      "credentials": {
        "openAiApi": {
          "id": "2nipFUqTLSnWySli",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.sapling.ai/api/v1/aidetect",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "name": "Sapling AI Detection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -352,
        -96
      ],
      "id": "a0fc4011-5c53-472c-b325-ab69804ae350"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $(\"Sapling AI Detection\").json[\"score\"] * 100 }}",
              "rightValue": "={{ $(\"Set Initial Variables\").json[\"targetAIScore\"] }}",
              "operator": {
                "type": "number",
                "operation": "smaller"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "AI Score Evaluation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -128,
        -96
      ],
      "id": "d53724bb-3563-4cb4-8bad-8c4c04829e0f"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Increment Attempt Counter",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -128,
        112
      ],
      "id": "87f3f835-cbb2-4d5d-a087-1f923ea01702"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.attemptCount }}",
              "rightValue": "={{ $(\"Set Initial Variables\").json[\"maxAttempts\"] }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check Max Attempts",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        80,
        112
      ],
      "id": "95f88ff7-9902-4e48-80c6-f7168fec888f"
    },
    {
      "parameters": {},
      "name": "Article Rewrite",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 3,
      "position": [
        80,
        304
      ],
      "id": "a498508e-7263-468d-94cb-fd77c21eac67",
      "credentials": {
        "openAiApi": {
          "id": "2nipFUqTLSnWySli",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "name": "Loop Back Node",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        304,
        304
      ],
      "id": "6f974100-ad11-44d4-bc7f-c12900b4d8cb"
    },
    {
      "parameters": {},
      "name": "Airtable Save",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 3,
      "position": [
        304,
        -96
      ],
      "id": "01b99e42-f9a7-407c-9463-1d3cce1a931e",
      "credentials": {
        "airtableApi": {
          "id": "lsSVzmWHf9W8pVYi",
          "name": "Airtable API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        512,
        -96
      ],
      "id": "c1050f4c-82e9-48c0-9f78-a95866f80df5"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Max Attempts Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        512,
        112
      ],
      "id": "c3c1a19f-da4b-4f71-b7bb-505125c9d96e"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Set Initial Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sapling AI Detection": {
      "main": [
        [
          {
            "node": "AI Score Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Attempt Counter": {
      "main": [
        [
          {
            "node": "Check Max Attempts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Back Node": {
      "main": [
        [
          {
            "node": "Sapling AI Detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1de5c8c3-8be1-43cf-b72d-b75263d0144a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "78ce5a5377274f9298837c1f5755493b7a72f2a100b80c779f56af39bf59618a"
  },
  "id": "vxjT1A47U3pQPQ4L",
  "tags": []
}
